

<table *ngIf="students | async as students">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Details</th>
    </tr>
    <tr *ngFor="let student of students">
        <td>{{ student.studentID }}</td>
        <td>{{ student.name }}</td>
        <td (click)="viewDetails(student.studentID)"><button>View Details</button></td>
        <td><button routerLink="/about" routerLinkActive="active">About</button></td>
        <td><button routerLink="/profile" routerLinkActive="active">Profile</button></td>
    </tr>
</table>

<div *ngIf="studentDetails | async as studentDetails">
    <app-student-details [student]="studentDetails"></app-student-details>
</div>
