.navbar {
    background-color: #333;
    padding: 1rem;
}

.navbar h1 {
    color: white;
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbar a:hover {
    background-color: #555;
}