<h2>New Student</h2>

<form #studentForm="ngForm" (ngSubmit)="addStudent()">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="student.studentname" name="name" #nameInput="ngModel" required>

    <div>
        <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)" class="error">
            Name is required.
        </div>
    </div>

    <br/><br/>


    <br/><br/>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" [(ngModel)]="student.studentphone" name="phone" #phoneInput="ngModel" required>
    <br/><br/>

    <div>
        <div *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)" class="error">
            Phone is required.
        </div>
    </div>

    <label for="address">Address:</label>
    <input type="text" id="address" [(ngModel)]="student.studentaddress" name="address" #addressInput="ngModel" required>

    <div>
        <div *ngIf="addressInput.invalid && (addressInput.dirty || addressInput.touched)" class="error">
            Address is required.
        </div>
    </div>

    <br/><br/>

    <button type="submit" [disabled]="studentForm.invalid">Add Student</button>
</form>